#Descrição dos dados para organização do repositório
Auxiliador.md

# Arquivos para relatório do projeto
relatorio/Estudo - Perfil Comportamental do Investidor-2022.pdf
relatorio/Estudo - Analise do desempenho de modelos de redes neurais para fundos imobiliarios.pdf