#Descrição dos dados para organização do repositório
Auxiliador.md
Fonte_de_dados.md

# Arquivos para relatório do projeto
# relatorio* -> ignora todas as pastas ou arquivos que comecem com "relatorio"
relatorio*/

# .venv - Ambiente virtual do Python
.venv*/

# .env - Variáveis de ambiente 
.env 

